<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>calendar</title>
    <style type="text/css">
    th{text-align: center;}
    td{
        font-size: x-large;
        width: 160px;
        height: 120px;
        vertical-align: top;
        text-align: left;
    }
    a{text-decoration: none}
    a:hover{text-decoration:underline}
    .saturday{color: blue;}
    .sunday{color: red;}
    .sunday{color: red;}
    .weekday{color: black;}
    .workday{color: yellow;}
    </style>
</head>

<body>
    <center>
    <table border>
    <tr>
    <th> Sun</th>
    <th> Mon</th>
    <th> Tue</th>
    <th> Wed</th>
    <th> Thu</th>
    <th> Fri</th>
    <th> Sat</th>
    </tr>

    <%if @d.month == 1%>
        <h2>January <%=@d.year%></h2>
    <%elsif @d.month == 2%>
        <h2>February <%=@d.year%></h2>
    <%elsif @d.month == 3%>
        <h2>March <%=@d.year%></h2>
    <%elsif @d.month == 4%>
        <h2>April <%=@d.year%></h2>
    <%elsif @d.month == 5%>
        <h2>May <%=@d.year%></h2>
    <%elsif @d.month == 6%>
        <h2>June <%=@d.year%></h2>
    <%elsif @d.month == 7%>
        <h2>July <%=@d.year%></h2>
    <%elsif @d.month == 8%>
        <h2>August <%=@d.year%></h2>
    <%elsif @d.month == 9%>
        <h2>September <%=@d.year%></h2>
    <%elsif @d.month == 10%>
        <h2>October <%=@d.year%></h2>
    <%elsif @d.month == 11%>
        <h2>November <%=@d.year%></h2>
    <%elsif @d.month == 12%>
        <h2>December <%=@d.year%></h2>
    <%end%>
    <button class="button" type="button" onclick="location.href='/<%=@d.year%>/<%=@d.month%>/last'">
        &lt;
    </button>
    <%if (Date.today.year > @d.year) || (Date.today.year == @d.year && Date.today.month > @d.month)%>
        &nbsp;
        <button class="button" type="button" onclick="location.href='/<%=@d.year%>/<%=@d.month%>/next'">
            &gt;
        </button>
    <%end%>

    <tr>
    <%if @p.wday != 6%>
        <%for i in 0..(@p.wday) do%>
            <td>&nbsp;</td>
        <%end%>
    <%end%>
    <%until @d == @e do%>
        <%if (Worktime.where(id: session[:id]).where(date: @d.year.to_s+'-'+@d.month.to_s+'-'+@d.day.to_s).first) && (Work.where(id: session[:id]).where(date: @d.year.to_s+'-'+@d.month.to_s+'-'+@d.day.to_s).first)%>
            <td>
                <a class="workday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                    <%=@d.day%>
                </a>
            </td>
        <%elsif @d.wday == 0%>
            <td>
                <a class="sunday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                    <%=@d.day%>
                </a>
            </td>
        <%elsif @d.wday == 6%>
            <td>
                <a class="saturday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                    <%=@d.day%>
                </a>
            </td>
        <%else%>
            <td>
                <a class="weekday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                    <%=@d.day%>
                </a>
            </td>
        <%end%>
        <%@d += 1%>
        <%if @d.wday == 0%>
            </tr>
            <tr>
        <%end%>
    <%end%>
    <%if Worktime.where(id: session[:id]).where(date: @d.year.to_s+'-'+@d.month.to_s+'-'+@d.day.to_s).first%>
        <td>
            <a class="workday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                <%=@d.day%>
            </a>
        </td>
    <%elsif @d.wday == 0%>
        <td>
            <a class="sunday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                <%=@d.day%>
            </a>
        </td>
    <%elsif @d.wday == 6%>
        <td>
            <a class="saturday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                <%=@d.day%>
            </a>
        </td>
    <%else%>
        <td>
            <a class="weekday" href="/<%=@d.year%>/<%=@d.month%>/<%=@d.day%>">
                <%=@d.day%>
            </a>
        </td>
    <%end%>
    </tr>
    </center>
    </table>
</body>
</html>
